<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WcfService5_CurrencyConvertor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <applicationSettings>
    <WcfService5_CurrencyConvertor.Properties.Settings>
      <setting name="WcfService5_CurrencyConvertor_net_webservicex_www_CurrencyConvertor"
        serializeAs="String">
        <value>http://www.webservicex.net/CurrencyConvertor.asmx</value>
      </setting>
      <setting name="WcfService5_CurrencyConvertor_webRefConvertor_WebService"
        serializeAs="String">
        <value>http://devapps.gemfind.net/WebService.asmx</value>
      </setting>
    </WcfService5_CurrencyConvertor.Properties.Settings>
  </applicationSettings>
</configuration>
